.hhf-horseCard {
	margin: .25em;
	display: flex;
	flex-direction: column;
	border: 1px solid var(--theme-primary);
	padding: 1em;
	max-width: 30ch;
}

.hhf-horseCard h2 {
	font-weight: bold;
	font-size: 1.1em;
}

.hhf-horseCard h3 {
	color: var(--theme-text-secondary);
}

.hhf-horseCard .actions {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.hhf-horseCard .actions a {
	padding: .5em 1em;
}