
.trainerHeader {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: .5em;

	h1 {
		font-size: 1.25em;
		font-weight: bold;
		flex-grow: 1;
	}

	.headerActions {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;

		a, button {
			border: none;
			outline: none;
			appearance: none;
			background: none;
			text-decoration: none;
			padding: .25em .5em;
			font-size: 1em;
		}

		a:hover, button:hover {
			background-color: var(--theme-primary-light);
		}
	}

}