@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

div#root {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	display: grid;
	grid-template-areas:
		"nav header"
		"nav content";
	grid-template-rows: 4em auto;
	grid-template-columns: 20ch auto;

	header {
		grid-area: header;
	}

	nav {
		grid-area: nav;
	}

	main {
		grid-area: content;
		overflow: auto;
		background-color: var(--theme-background);
		color: var(--theme-text-primary);
		padding: .5em;
	}
}

.logoHeader {
	font-size:1.5em;
	text-align: center;
	font-weight: bold;
	padding: .5em .25em;
	font-family: 'Otomanopee One', sans-serif;	
	color: var(--theme-primary-dark);
}



button.primary,
button.secondary,
a.primaryButton,
a.secondaryButton,
button.danger,
a.dangerButton {
	appearance: none;
	border: none;
	outline: none;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	cursor:pointer;
	border-radius: .25em;
	transition: background-color .2s linear, bordercolor .2s linear;
	padding: .25em 1em;
	user-select: none;
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: bold;
	text-decoration: none;

	svg {
		color: inherit;
		width: 1em;
		height: 1em;
		margin-right: 1ch;
	}
}

button.primary,
a.primaryButton {
	background-color: var(--theme-primary);
	color: white;

	&:hover {
		background-color: var(--theme-primary-dark);		
	}

	&:focus {
		box-shadow: 0px 0px 0px 2px	hsl(220, 50%, 20%);
	}

	&:active {
		box-shadow: 0px 0px 0px 2px	hsl(220, 50%, 20%);
		background-color: hsl(220, 50%, 20%);
	}
}

button.secondary,
a.secondaryButton {
	color: var(--theme-primary);
	border: 1px solid var(--theme-primary);
	background: none;

	&:hover {
		background-color: var(--theme-primary);
		color: white;
	}

	&:focus {
		box-shadow: 0px 0px 0px 1px	hsl(220, 50%, 20%);
	}

	&:active {
		background-color: hsl(220, 50%, 20%);
		border-color:hsl(220, 50%, 20%);
	}	
}

button.danger,
a.dangerButton {
	color: var(--theme-control-error-border);
	border: 1px solid var(--theme-control-error-border);
	background: none;

	&:hover {
		background-color: var(--theme-control-error-border);
		color: white;
	}

	&:focus {
		box-shadow: 0px 0px 0px 2px	hsl(220, 50%, 20%);
	}

	&:active {
		background-color: 1px solid var(--theme-control-error-background);
		border-color: 1px solid var(--theme-control-error-background);
	}	
}