#app {
	display: grid;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	grid-template-areas: 
		"nav areaheader"
		"nav content";
	grid-template-columns: 20ch auto;
	grid-template-rows: 4rem auto;
	
	header {
		grid-area: header;
	}

	#areaHeader {
		grid-area: areaheader;
	}

	main, #main { 
		grid-area: content;
		overflow-y: auto;
		padding: .5rem;
	}
}

.hhfFab {
	position:absolute;
	right: 1em;
	bottom: 1em;
	padding: .5em;
	border-radius: 25%;
	background-color: var(--theme-primary-light);
	color: var(--theme-text-on-primary);

	&:hover {
		background-color: var(--theme-primary-dark);
	}
}